/*--------------------------------------- General Styles ---------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*--------------------------------------- Header Styles ---------------------------------------*/
/* header {
    min-height: 15vh;
    background-color: blueviolet; 
} */
.yellow {
    color: #ffcd00;
}
.blue {
    color: #003087;
}
.red {
    color: #c8102e;
}
/*--------------------------------------- Main Styles -----------------------------------------*/
main {
    flex-grow: 1;
    background-color: rgb(240, 240, 240);
    padding-bottom: 50px;
}
main > .container-fluid > .rowww {
    padding-top: 50px !important;
}

.cuadro > img {
    width: auto;
    height: 500px;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
}
.cuadro > p {
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    padding: 20px;
    font-size: 22px;
}
#contenedor {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
}
.tarjeta {
    width: 340px;
    height: auto;
    /* -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75); */
    margin: 20px;
}
.card {
    -webkit-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 21px 0px rgba(0, 0, 0, 0.75);
}
.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.card-img-top-details {
    width: 100%;
    height: 200px;
    object-fit: cover;
    -webkit-filter: blur(5%);
    filter: blur(5%);
}
h4 {
    padding-left: 10px;
}
.card-text {
    height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.card-text::-webkit-scrollbar {
    -webkit-appearance: none;
}

.card-text::-webkit-scrollbar:vertical {
    width: 10px;
}

.card-text::-webkit-scrollbar-button:increment,
.card-text::-webkit-scrollbar-button {
    display: none;
}

.card-text::-webkit-scrollbar:horizontal {
    height: 10px;
}

.card-text::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.card-text::-webkit-scrollbar-track {
    border-radius: 10px;
}

table {
    border-color: black !important;
}

.size {
    width: 150px;
    overflow: auto;
}

.area-natural {
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 5px;
}
.ciudad {
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.img-div {
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.azul {
    background-color: rgb(183, 232, 255);
}
.verde {
    background-color: rgb(206, 253, 186);
}
.blanco {
    background-color: white;
}
.table > :not(caption) > * > * {
    background-color: transparent !important;
}

.barra-buscar{
    background-color: #cecece;
}

/*--------------------------------------- Footer Styles ---------------------------------------*/
footer {
    /* min-height: 5vh; */
    background-color: rgb(0, 0, 0);
}
footer > .container > .row > .col > p {
    margin-bottom: 0 !important;
    color: white;
}

/*---------------------------------------------------------------------------------------------*/
/*--------------------------------------- Media Queries ---------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

/*------------------------------------------- 768px -------------------------------------------*/
@media screen and (min-width: 768px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1024px -------------------------------------------*/
@media screen and (min-width: 1024px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
/*------------------------------------------- 1440px -------------------------------------------*/
@media screen and (min-width: 1440px) {
    /*-------------------------- Header Styles --------------------------*/
    /*-------------------------- Main Styles ----------------------------*/
    /*-------------------------- Footer Styles --------------------------*/
}
